DB_BASE={{db_base}}
DB_HOST={{db_host}}
DB_PASS={{db_password}}
DB_PORT={{db_port}}
DB_USER={{db_user}}
AUTH0_CLIENT_ID={{auth0_client_id}}
AUTH0_SECRET_ID={{auth0_secret_id}}
SENTRY_DSN={{sentry_dsn}}
DYNAMO_REGION={{aws_region}}
